<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 800; font-size: 2em;">
        Today
        <p>{{today | date:'fullDate'}}</p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-item>
        <ion-input type="text" placeholder="Enter name" [(ngModel)]="personName"></ion-input>
      </ion-item>
      <ion-item (click)="addPerson()">
        <ion-icon name="add" (click)="addPerson()" ></ion-icon>
        <p>Add Person</p>
      </ion-item>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let person of people; let i = index; " class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle >
        {{person.name}}
      </ion-card-subtitle>
      <ion-item>
        <ion-icon size="small" name="logo-euro"></ion-icon>
        <ion-label>{{person.total}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-row>
      <ion-item (click)="goDetails()" >
        <ion-icon name="checkmark" ></ion-icon>
        <p>Details</p>
      </ion-item>

      <ion-item (click)="deletePerson(i)">
        <ion-icon name="trash-outline"></ion-icon>
        <p>Delete</p>
      </ion-item>

    </ion-row>
  </ion-card>

</ion-content>

<!--
<ion-content [fullscreen]="true">
   <ion-card *ngFor="let item of todoList" class="ion-margin">
    <ion-card-header>
      <ion-card-subtitle [style.color] = "item.priority === 'high' ? 'red' : (item.priority === 'low' ? 'green' : 'orange')" >
        {{item.category}}
      </ion-card-subtitle>
      <ion-item>
        <ion-icon *ngIf="item.priority === 'high' " color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.priority === 'middle' " color="warning" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.priority === 'low' " color="success" size="small" name="ellipse"></ion-icon>

        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Due {{item.dueDate | date:'fullDate'}} </ion-label>
    </ion-card-content>
    <ion-row>
      <ion-item>
        <ion-icon name="share-outline"></ion-icon>
        <p>Share</p>
      </ion-item>

      <ion-item>
        <ion-icon name="checkmark"></ion-icon>
        <p>Complete</p>
      </ion-item>

      <ion-item>
        <ion-icon name="trash-outline"></ion-icon>
        <p>Cancel</p>
      </ion-item>

    </ion-row>
   </ion-card>

   <ion-fab slot="fixed" vertical="center" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
   </ion-fab>
</ion-content>
-->